@use '../sass-utils/variables' as v;
@use '../sass-utils/mixins' as m;

#about {
    @include m.flex-center($flex-direction : column);
    row-gap: 40px
}
    #about-me {
    @include m.flex-center($flex-direction : column);
    row-gap : 20px;
    position: relative;



.about-me-pictures {

    position: relative;
    img {
        width : 100%;
        max-width:130px;
        height: 100%;
        border-radius: 1rem;
    }

    .main-image {
        position: relative;
        z-index :3;
        top : 0;
        left:0;
        transition: transform 0.3s ease;


          &:hover {
            transform: scale(1.2);
        }
    }

    .left-image {
        position : absolute;
        z-index :2;
        top : 0;
        left:40%;
        transform: rotate(20deg);
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.2) rotate(20deg);
            z-index:4;
        }


    }

    .right-image {
        position : absolute;
        z-index :1;
        top : 0;
        left:-40%;
        transform: rotate(-20deg);
        transition: transform 0.3s ease;


         &:hover {
            transform: scale(1.2) rotate(-20deg);
            z-index:4;
        }


    }


}

.about-me-text {
    color: white;
}
}
#skills {
    @include m.flex-center($flex-direction : column);
    width: 100%;
    row-gap : 20px;


  
    .skills-btn {
        @include m.flex-center($justify: space-between);
        background-color: v.$primary-bg-card-bg;
        border-radius: v.$radius-sm;

        button {
            padding: 10px;

            &.active {
                    padding: 10px;
                    background-color: v.$primary-bg-hover;
                            border-radius: v.$radius-sm;

            }
            
        }
    }
   
   
   .skills-card {
  perspective: 1000px;
  width: 100%;
  height: 300px;

  .skills-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;

    &.flipped {
      transform: rotateY(180deg);
    }
  }

  .skills-card-front,
  .skills-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; 
  }

  .skills-card-back {
    transform: rotateY(180deg);
  }

  .soft-skills-capsule {
    color: white;
  }

  .hard-skills {
    width: 100%;
    height :auto;
  }

  .img-skills {
    width: 100%;
    max-width: 50px;
  }
}
}



@include m.desktop() {


#about {
    @include m.flex-center($flex-direction : column);
    row-gap: 40px
}

#about-me {
    @include m.flex-center();
    position: relative;



.about-me-pictures {

    position: relative;
    img {
        width : 100%;
        max-width:200px;
        height: 100%;
        border-radius: 1rem;
    }

    .main-image {
        position: relative;
        z-index :3;
        top : 0;
        left:0;
        transition: transform 0.3s ease;


          &:hover {
            transform: scale(1.2);
        }
    }

    .left-image {
        position : absolute;
        z-index :2;
        top : 0;
        left:40%;
        transform: rotate(20deg);
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.2) rotate(20deg);
            z-index:4;
        }


    }

    .right-image {
        position : absolute;
        z-index :1;
        top : 0;
        left:-40%;
        transform: rotate(-20deg);
        transition: transform 0.3s ease;


         &:hover {
            transform: scale(1.2) rotate(-20deg);
            z-index:4;
        }


    }


}

.about-me-text {
    color: white;
}
}
}
