.contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 2rem;
}

.contact-card {
    background-color: $primary-bg-card-bg;
    border-radius: $radius-lg;
    padding: 2rem;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 0 21px rgba(0, 0, 0, 0.5);

    h2 {
        text-align: center;
        margin-bottom: 1.5rem;
        color: $secondary-color;
    }
}

.contact-form {
    display: flex;
    flex-direction: column;

    label {
        margin-bottom: 0.5rem;
        font-size: $font-size-md;
    }

    input,
    textarea {
        background-color: $transparent-lighter-bg-color;
        border: none;
        border-radius: $radius-md;
        padding: 0.75rem 1rem;
        margin-bottom: 1rem;
        color: $white;
        font-size: $font-size-md;
        transition: background-color 0.3s;

        &:focus {
            background-color: $primary-bg-hover;
            outline: none;
        }
    }

    button {
        background-color: $secondary-color;
        color: $white;
        border: none;
        border-radius: $radius-md;
        padding: 0.75rem;
        font-size: $font-size-lg;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: color.adjust($secondary-color, $lightness: -10%);
        }
    }
}