@use '../sass-utils/mixins' as m;
@use '../sass-utils/variables' as v;


#hero {
    position: relative;
    margin-top: 100px;
.hero-img-container {
    margin: 0 auto;    
    max-width: 350px;
}

    .hero-img {
        max-width : 100%;
        height: auto;
        border-radius: v.$radius-md;

        &:hover {
            border-radius: v.$radius-sm;
        }
    }

    .hero-description {
    color: white;
    font-weight: 500;
}

}


@include m.mobile() {
#hero {
    @include m.flex-center($flex-direction : column);
    row-gap: 20px;

    .hero-title {
        font-size: 28px;
        color: white;
    }
.hero-img-container {
    margin: 0 auto;    
    max-width: 150px;


    .hero-img {
        max-width : 100%;
        height: auto;
        border-radius: v.$radius-md;

        &:hover {
            border-radius: v.$radius-sm;
        }
    }
}

.hero-description {
    color: white;
    font-weight: 500;
}

button {
    @include m.button();
}

.hr-solid {
    background-color: white;
    width: 70%;
    height: 2px;
}

}
}