@use "../sass-utils/variables" as v;
@use "../sass-utils/mixins" as m;

#work-experiences {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  color: white;

  .scroll-snap {
    scroll-snap-type: x mandatory;
    display: flex;
    flex-wrap: nowrap;
    height: 500px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;

    .work-item {
      scroll-snap-align: start;
      position: relative;
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      flex: 0 0 100%; // chaque item prend 100% de la largeur de  la div parent
      row-gap: 20px;
      height: 100%;
      height: auto;

      .work-item-img-container {
        height: auto;
        width: 200px;

        .work-img {
          width: 100%;
          height: auto;
        }
      }

      .work-missions {
      }
    }
  }
}
