*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  appearance: none;
  border-radius: 0;
}

button {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-spacing: 0;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
}

html {
  background-color: #121212;
  font-family: "Poppins";
}

section {
  padding: 0px 40px;
}

h2 {
  font-size: 28px;
  color: white;
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 20px;
}
header nav {
  position: fixed;
  top: 30px;
  background-color: #787878;
  width: 50vw;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 0px 40px;
  border-radius: 8px;
  backdrop-filter: blur(10px);
}
header nav .header-menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
header nav .logo-ham {
  display: none;
}
header .close-menu {
  display: none;
}
header .ham-menu {
  display: none;
}

@media (max-width: 1024px) {
  header nav {
    display: flex;
    justify-content: space-between;
    width: 70%;
  }
  header nav .header-menu {
    display: none;
  }
  header nav .ham-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 30px;
    height: 20px;
    flex-direction: column;
  }
  header nav .ham-button span {
    width: 100%;
    background-color: white;
    height: 4px;
    border-radius: 2px;
  }
  header .close-menu {
    position: fixed;
    top: 20px;
    right: 20px;
    display: none;
    z-index: 99;
  }
  header .ham-menu {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    height: 100vh;
    width: 100vw;
    background-color: #121212;
    z-index: 90;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
  }
  header .ham-menu.active {
    transform: translateX(0);
  }
  header .ham-menu .ham-menu-item {
    padding: 20px;
    color: white;
    height: 10vh;
    width: 100%;
  }
  header .ham-menu .ham-menu-item:hover {
    background-color: #787878;
  }
}
#hero {
  position: relative;
  margin-top: 100px;
}
#hero .hero-img-container {
  margin: 0 auto;
  max-width: 350px;
}
#hero .hero-img {
  max-width: 100%;
  height: auto;
  border-radius: 16px;
}
#hero .hero-img:hover {
  border-radius: 8px;
}
#hero .hero-description {
  color: white;
  font-weight: 500;
}

@media (max-width: 576px) {
  #hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
  }
  #hero .hero-title {
    font-size: 28px;
    color: white;
  }
  #hero .hero-img-container {
    margin: 0 auto;
    max-width: 150px;
  }
  #hero .hero-img-container .hero-img {
    max-width: 100%;
    height: auto;
    border-radius: 16px;
  }
  #hero .hero-img-container .hero-img:hover {
    border-radius: 8px;
  }
  #hero .hero-description {
    color: white;
    font-weight: 500;
  }
  #hero button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: #DE19EF;
    background-color: transparent;
    border-radius: 16px;
    border: #DE19EF 1px solid;
    box-shadow: 0px 0px 4px 3px #DE19EF;
    padding: 10px;
  }
  #hero button:hover {
    background-color: white;
  }
  #hero .hr-solid {
    background-color: white;
    width: 70%;
    height: 2px;
  }
}
#about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 40px;
}

#about-me {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 20px;
  position: relative;
}
#about-me .about-me-pictures {
  position: relative;
}
#about-me .about-me-pictures img {
  width: 100%;
  max-width: 130px;
  height: 100%;
  border-radius: 1rem;
}
#about-me .about-me-pictures .main-image {
  position: relative;
  z-index: 3;
  top: 0;
  left: 0;
  transition: transform 0.3s ease;
}
#about-me .about-me-pictures .main-image:hover {
  transform: scale(1.2);
}
#about-me .about-me-pictures .left-image {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 40%;
  transform: rotate(20deg);
  transition: transform 0.3s ease;
}
#about-me .about-me-pictures .left-image:hover {
  transform: scale(1.2) rotate(20deg);
  z-index: 4;
}
#about-me .about-me-pictures .right-image {
  position: absolute;
  z-index: 1;
  top: 0;
  left: -40%;
  transform: rotate(-20deg);
  transition: transform 0.3s ease;
}
#about-me .about-me-pictures .right-image:hover {
  transform: scale(1.2) rotate(-20deg);
  z-index: 4;
}
#about-me .about-me-text {
  color: white;
}

#skills {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  row-gap: 20px;
}
#skills .skills-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: #787878;
  border-radius: 8px;
}
#skills .skills-btn button {
  padding: 10px;
}
#skills .skills-btn button.active {
  padding: 10px;
  background-color: rgb(196.5, 196.5, 196.5);
  border-radius: 8px;
}
#skills .skills-card {
  perspective: 1000px;
  width: 100%;
  height: 300px;
}
#skills .skills-card .skills-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
#skills .skills-card .skills-card-inner.flipped {
  transform: rotateY(180deg);
}
#skills .skills-card .skills-card-front,
#skills .skills-card .skills-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
#skills .skills-card .skills-card-back {
  transform: rotateY(180deg);
}
#skills .skills-card .soft-skills-capsule {
  color: white;
}
#skills .skills-card .hard-skills {
  width: 100%;
  height: auto;
}
#skills .skills-card .img-skills {
  width: 100%;
  max-width: 50px;
}

@media (min-width: 1024px) {
  #about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 40px;
  }
  #about-me {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
  }
  #about-me .about-me-pictures {
    position: relative;
  }
  #about-me .about-me-pictures img {
    width: 100%;
    max-width: 200px;
    height: 100%;
    border-radius: 1rem;
  }
  #about-me .about-me-pictures .main-image {
    position: relative;
    z-index: 3;
    top: 0;
    left: 0;
    transition: transform 0.3s ease;
  }
  #about-me .about-me-pictures .main-image:hover {
    transform: scale(1.2);
  }
  #about-me .about-me-pictures .left-image {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 40%;
    transform: rotate(20deg);
    transition: transform 0.3s ease;
  }
  #about-me .about-me-pictures .left-image:hover {
    transform: scale(1.2) rotate(20deg);
    z-index: 4;
  }
  #about-me .about-me-pictures .right-image {
    position: absolute;
    z-index: 1;
    top: 0;
    left: -40%;
    transform: rotate(-20deg);
    transition: transform 0.3s ease;
  }
  #about-me .about-me-pictures .right-image:hover {
    transform: scale(1.2) rotate(-20deg);
    z-index: 4;
  }
  #about-me .about-me-text {
    color: white;
  }
}
#projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 40px;
}
#projects .projects .project-item {
  border: 2px white solid;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 20px;
  border-radius: 8px;
}
#projects .projects .project-item .project-img-container {
  max-width: 380px;
}
#projects .projects .project-item .project-img-container .project-img {
  width: 100%;
  height: auto;
  aspect-ratio: 5/3;
  object-fit: cover;
}
#projects .projects .project-item .project-content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 20px;
}
#projects .projects .project-item .project-content .project-title {
  font-size: 24px;
  color: white;
}
#projects .projects .project-item .project-content .project-technos {
  display: flex;
  column-gap: 5px;
}
#projects .projects .project-item .project-content .project-technos p {
  background-color: #787878;
  padding: 5px 15px;
  border-radius: 8px;
}
#projects .projects .project-item .project-content .project-description {
  color: white;
}

/*# sourceMappingURL=style.css.map */
