// Breakpoints //

$tablet-width: 768px;
$desktop-width: 1024px;
$mobile-width : 360px;

// Colors //

$primary-bg-color : #121212;
$lighter-primary-bg-color : lighten(#121212,40%);

$transparent-lighter-bg-color: lighten(rgba(18, 18, 18, 0.3),40%);


$white: #fff;

// Border-radius (sm = small, md = medium, lg = large)

$radius-sm :8px;
$radius-md :16px;
$radius-sm :32px;

// Fonts

$font-size-sm :12px;
$font-size-md :14px;
$font-size-sm :16px;
